.btn {
    background-color: rgba(238, 0, 255, 0.453);
    width: 25px;
    height: 25px;
    border-radius: 60%;
    margin: 5px;
    align-self: flex-end;
    color:antiquewhite;
    border: 1px solid transparent;
}
.btn:hover{
    color:rgba(238, 0, 255, 0.453);
    background-color: antiquewhite;
}

.middleDiv{
    display: flex;
    flex-direction: row;
}
.card{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-content: center;
    border: 1px solid grey;
    border-radius: 0.5rem;
    height: 250px;
    padding: 0.8rem;   
}